<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button routerLink={{back_button}}>
            <i class="material-icons md-36">arrow_back</i>
          </button>
        <span>Resultado da simulação</span>
         <span class="spacer"></span>
         <a mat-button routerLink="/login">Sair</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <mat-table class="tabela" #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
     Desenvolvido por <a href="https://www.linkedin.com/in/luanmelo/">Luan Melo</a>
    </div>
  </nav>
