<mat-toolbar>
    <span>Cadastro de usuário</span>
  </mat-toolbar>
  <div class="my-form">
        <form>
           <mat-form-field class="full-width">
              <mat-label>Nome de usuário</mat-label>
              <input  matInput [(ngModel)]="usuario" placeholder="Nome de usuário" name="usuario">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Senha</mat-label>
              <input  matInput [(ngModel)]="senha" placeholder="Senha" name="senha">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Repetir Senha</mat-label>
              <input  matInput [(ngModel)]="confirma_senha" placeholder="Repetir Senha" name="confirma_senha">
           </mat-form-field>
        </form>
        <button mat-raised-button (click)="login()" color="primary">Cadastrar</button>
  </div>