<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<div class="my-form">
      <form>
         <mat-form-field class="full-width">
            <input  matInput [(ngModel)]="usuario" placeholder="Nome de usuário" name="usuario">
         </mat-form-field>
         <mat-form-field class="full-width">
            <input  matInput [(ngModel)]="senha" placeholder="Senha" name="senha">
         </mat-form-field>
      </form>
      <button mat-raised-button (click)="login()" color="primary">Entrar</button>
      <button mat-raised-button (click)="cadastrar()" color="primary">Cadastrar</button>
</div>