<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button routerLink="/home">
            <i class="material-icons md-36">arrow_back</i>
          </button>
        <span>Lista de simulações</span>
         <span class="spacer"></span>
         <a mat-button routerLink="/login">Sair</a>
      </mat-toolbar-row>
    </mat-toolbar>
 </header>
 <div class="my-form">
  <div class="list-group">
      <a class="list-group-item list-group-item-action" *ngFor="let simulacao of simulacoes; let i = index" (click) = editaSimulacao(i)>
        <h6>{{toData(simulacao.unixtime)}}</h6>
        <p>Valor imóvel: R${{simulacao.valor_imovel | number:'.2'}}</p>
        <p>Entrada: R${{simulacao.valor_entrada | number:'.2'}}</p>
        <p>Número de parcelas: {{simulacao.qtde_parcelas}}</p>
        <p>Taxa de juros: {{simulacao.taxa_juros}}%</p>

      </a>
    </div>
</div>
    <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
     Desenvolvido por <a href="https://www.linkedin.com/in/luanmelo/">Luan Melo</a>
    </div> 
</nav>