<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button routerLink="/home">
            <i class="material-icons md-36">arrow_back</i>
          </button>
        <span>Nova simulação</span>
         <span class="spacer"></span>
         <a mat-button routerLink="/login">Sair</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <div class="my-form">
      <div class="card">
          <div class="card-header">
            Informações para simulação (Cálculo baseado no Sistema SAC)
          </div>
          <div class="card-body">            
              <mat-form-field class="full-width">
                <input matInput [(ngModel)]="simulacao.valor_imovel" placeholder="Valor do imóvel" type="number">
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>            
              <mat-form-field class="full-width">
                <input matInput [(ngModel)]="simulacao.valor_entrada" placeholder="Valor de entrada" type="number">
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>            
              <mat-form-field class="full-width">
                <input matInput [(ngModel)]="simulacao.qtde_parcelas" placeholder="Quantidade de parcelas" type="number">
              </mat-form-field>            
              <mat-form-field class="full-width">
                <input matInput [(ngModel)]="simulacao.taxa_juros" placeholder="Juros anuais" type="number">
                <span matSuffix>&nbsp;%</span>
              </mat-form-field>
              <button mat-flat-button (click)="resultado()" color="primary">SIMULAR</button>
          </div>
        </div>
</div>
  
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
     Desenvolvido por <a href="https://www.linkedin.com/in/luanmelo/">Luan Melo</a>
    </div>
  </nav>
