.my-form {
    width: 70%;
     margin:0 auto;
    margin-top: 40px;
  }
  
  .my-form > * {
    width: 100%;
  }
  
  .my-form-right-align {
    text-align: right;
  }
  
  input.my-form-right-align::-webkit-outer-spin-button,
  input.my-form-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.my-form-right-align {
    -moz-appearance: textfield;
  }
   
  .full-width {
    width: 100%;
  }