<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Início</span>
       <span class="spacer"></span>
       <a mat-button routerLink="/login">Sair</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<div class="jumbotron">
    <h1>Calculadora de financiamento de imóveis</h1>
    <p>
      Ferramenta simplificada utilizando o Sistema SAC para o cálculo do financiamento
    </p>
  </div>
<div class="container">
  <div class="row" style="display: flex; justify-content: center;text-align: center;">
    <div class="col-xs">
      <button mat-raised-button style="margin:20px; height: 300px; width: 300px" routerLink="/nova"><img mat-card-image src="assets/add.png" style="margin:10px; height: 200px; width: 200px" alt="Adiciona simulação"><h3><p><p>Nova simulação</p></h3></button>
    </div>
    <div class="col-xs">
      <button mat-raised-button style="margin:20px; height: 300px; width: 300px" routerLink="/lista"><img mat-card-image src="assets/edit.png" style="margin:10px; height: 200px; width: 200px" alt="Histórico de simulação"><h3><p><p>Histórico de simulação</p></h3></button>
    </div>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
     Desenvolvido por <a href="https://www.linkedin.com/in/luanmelo/">Luan Melo</a>
    </div>
  </nav>